       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           font-family: "Poppins", sans-serif;
       }

       body {
           height: 100vh;
           display: flex;
           justify-content: center;
           align-items: center;
           background: radial-gradient(circle at top, #6a00ff, #2d0c70);
           overflow: hidden;
       }

       /* 3D floating card */
       .signup-card {
           width: 480px;
           padding: 40px;
           background: rgba(255, 255, 255, 0.15);
           border-radius: 20px;
           backdrop-filter: blur(18px);
           box-shadow:
               0 20px 40px rgba(0, 0, 0, 0.35),
               inset 0 0 25px rgba(255, 255, 255, 0.15);
           transform: perspective(1200px) rotateY(0deg);
           animation: float 4s ease-in-out infinite alternate;
           transition: 0.3s;
       }

       @keyframes float {
           from {
               transform: perspective(1200px) translateY(0px) rotateX(2deg);
           }

           to {
               transform: perspective(1200px) translateY(-15px) rotateX(-2deg);
           }
       }

       h1 {
           text-align: center;
           color: white;
           margin-bottom: 25px;
           font-size: 2rem;
           text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
       }

       .input-field {
           width: 100%;
           padding: 14px;
           margin: 12px 0;
           background: rgba(255, 255, 255, 0.2);
           border-radius: 10px;
           border: none;
           color: white;
           font-size: 1rem;
           box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.15);
           outline: none;
           transition: 0.2s;

       }

       .input-field:focus {
           background: rgb(36, 35, 35);
           box-shadow: 0 0 15px rgba(255, 255, 255, 0.45);
       }

       button {
           width: 100%;
           padding: 14px;
           border: none;
           margin-top: 20px;
           border-radius: 10px;
           font-size: 1.1rem;
           font-weight: bold;
           background: #8b2bff;
           color: white;
           cursor: pointer;
           box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
           transition: 0.25s;
       }

       button:hover {
           transform: translateY(-4px) scale(1.03);
           box-shadow: 0 12px 25px rgba(0, 0, 0, 0.55);
       }

       p {
           text-align: center;
           margin-top: 18px;
           color: #ddd;
           font-size: 0.9rem;
       }

       a {
           color: #fff;
           text-decoration: underline;
           cursor: pointer;
       }